@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'variables';
@import '~bootstrap/scss/bootstrap';

.img_pre {
    height: 150px;
}

.actions_bar {
    margin: 10px;
    padding: 10px;
}